<%- model_class = ReceiptHeader -%>
<div class="page-header">
  <h1>Recibo # <%= @receipt_header.consecutive %></h1>
</div>

<div class=''>
  <p><b>Cliente: </b><%= @receipt_header.client %></p>
  <p><b>Dirección: </b><%= @receipt_header.adress %></p>
  <p><b>Ciudad: </b><%= @receipt_header.city.name %></p>
  <p><b>Identificación: </b><%= @receipt_header.identification %></p>
  <p><b>Teléfono: </b><%= @receipt_header.phone %></p>
</div>