<%= javascript_include_tag "purchases.js" %>

<%= simple_form_for(@purchase, :html => { :class => 'form-horizontal' }, :remote => true) do |f| %>

<div class="responsive">

        <div class="modal-header">
             <button type="button" class="close" data-dismiss="modal" aria-hidden="true" 
             onclick="$.lazybox.close()">&times;</button>
             <h3>Compra</h3>
        </div>

        <div class="modal-body">
            <%= f.error_notification %>
            <div class="row">
                <div class="span6">
                    <div class="control-group">
                        <label class="control-label" for="inputName">Proveedor</label>
                        <div class="controls">
                             <%= f.association :supplier, :collection => Supplier.all(:order => 'name'), :label => false %>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label" for="inputName">Fecha</label>
                        <div class="controls">
                             <%= f.input :date, :label => false, :required => true, :input_html => { :class => 'datepicker' } %>
                        </div>
                    </div>
                  
                </div>
           </div>
        </div>

        <div id='fo' class="modal-footer">
            <a href="#" class="btn btn-inverse" onclick="$.lazybox.close()">Cerrar</a>
            <%= f.button :submit, "Guardar", :class => 'btn-primary' %>
        </div>

    </div>
<% end %>   