<tr id=<%= "production_#{production.id}" %>>
    <td><%= production.garment.name %></td>
    <td><%= production.date_in %></td>
    <td><%= production.amount_in %></td>
    <td><%= production.date_out %></td>
    <td><%= production.amount_out %></td>
    <td><%= production.user.name %></td>
    <td>
        <%= link_to image_tag('ver.png', :width=>'30', :title=>'Mostrar' ), production_path(production), :remote => true %>
        <%= link_to image_tag('edit.png', :width=>'30', :title=>'Editar' ), edit_production_path(production), :remote => true %>
        <%= link_to image_tag('destroy.png', :width=>'30', :title=>'Eliminar' ), production_path(production),
                    :method => :delete, :remote => true,
                    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", 
                               :default => 'Are you sure?')) } %>
        
    </td>
</tr>