<div id="myCarousel" class="carousel slide">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active" ></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
  </ol>
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div id='uno' class="active item" data-interval="100"><%= image_tag('1.jpg', :width=>'500', :class =>'img-thumbnail') %>
       <blockquote id="uno" class="pull-left">
        <br>
      <p>  Planeación de la producción.</p>
      <p> Es la función de la dirección de la empresa que sistematiza</p>
      <p>  por anticipado los factores de mano de obra, materias primas, </p>
      <p>maquinaria y equipo, para realizar la fabricación que este  </p>
      <p>determinada por anticipado, con relación:</p>
      <p>Utilidades que deseen lograr.</p>
      <p>Demanda del mercado.</p>
      <p>Capacidad y facilidades de la planta.</p>
	  <p>Puestos laborales que se crean.</p>
	  <br>
	  
      </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('2.jpg', :width=>'500', :class =>'img-thumbnail') %>
      <blockquote id="uno" class="pull-left">
        <br>
        <p>Es la actividad de decidir acerca de los medios que la empresa industrial</p>
        <p>necesitará para sus futuras operaciones manufactureras y par distribuir</p>
        <p>esos medios de tal suerte que se fabrique el producto deseado</p>
        <p> en las cantidades, al menor costo posible.</p>
      </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('3.jpg', :width=>'500', :class =>'img-thumbnail') %>
      <blockquote id="uno" class="pull-left">
        <br>
      <p>Para tener un mejor rendimiento y mejoras en la calidad de ls prendas de confeccion para el centro de formacion manteniendo siempre el mejor método de trabajo y un mejor clima empresarial para poder dar una buena formacion para los aprendices y su experiencia en el ambito laboral y practico</p>
      </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('4.jpg', :width=>'500', :class =>'img-thumbnail') %>
      <blockquote id="uno" class="pull-left">
        <br>
    <p> Contamos con las mejores herramientas en el taller para que todos los aprendices tengan un mejor rendimiento y un aprendizaje apropiado, contamos con un gran espacio el cual está desarrollado con la mejor calidad y el mejor plan de seguridad para garantizar un trabajo apto para aprendices como tambien para los instructores que emplean su labor en el centro de formacion.</p>
    </blockquote>
    </div>
    <div id='uno' class="item" data-interval="100"><%= image_tag('5.jpg', :width=>'500', :class =>'img-thumbnail') %>
      <blockquote id="uno" class="pull-left">
        <br>
    <p> Gracias a los aportes de las directivas y las mejoras que se han dado en el centro se dio la oportunidad de traer la máquina de milan la cual hace cortes precisos y mejora el trabajo el facil manejo medidas a la perfección y el mantenimiento del trabajo mas ortodoxo y de una manera mas rápida de funcionar en el momento de la etapa de producción de una prenda dando a los aprendices una mejor práctica para el desarrollo laboral.</p>
   
    </blockquote>
    </div>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
