<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @donation.user_id %>
</p>

<p>
  <b>Garment:</b>
  <%= @donation.garment_id %>
</p>

<p>
  <b>Amount:</b>
  <%= @donation.amount %>
</p>

<p>
  <b>Description:</b>
  <%= @donation.description %>
</p>

<p>
  <b>Date:</b>
  <%= @donation.date %>
</p>

<p>
  <b>Justification:</b>
  <%= @donation.justification %>
</p>

<p>
  <b>Receiver:</b>
  <%= @donation.receiver %>
</p>


<%= link_to 'Edit', edit_donation_path(@donation) %> |
<%= link_to 'Back', donations_path %>
