<%- model_class = Category -%>
<div class="page-header">
 <h3 id='order'>Categorias de Insumos</h3>
</div>
<br>
<div id="buscarr">
    <%= form_tag request.path, :class => "well", :method => 'get' do %> 

      <div class = "row">
           <div class="span9">
                <div class = "row">
                     <div class="span5">
                          <b>Ca Insumo</b>
                          <%= text_field_tag :name, params[:name], 
                           :class=>"span4" %>
                     </div>
                     <div class="span1">
                         <%= submit_tag "Buscar", :name => nil, :class => 'btn btn-primary' %>
                     </div>
                      <%= hidden_field_tag :ind, "1" %>
                </div>
           </div>
      </div>

    <% end %>
</div>
<table class="table table-striped">
 <thead>
   <tr>
     <th>Id</th>
     <th>Nombre</th>
     <th>Descripción</th>
     <th></th>
   </tr>
 </thead>
 <tbody>
    <%= render @categories %>
 </tbody>
</table>

<%= link_to "Nuevo", new_category_path, :remote => true, 
   :class => 'btn btn-primary' %> 

  <div id='ocupa' class="pagination">
   <%= will_paginate(@categories, :renderer => WillPaginate::ActionView::LinkRenderer,
                                :previous_label => '&laquo; Anterior', 
                                :next_label => 'Siguiente &raquo;') %>
                                
   <p id='total' class="pull-right">Total Categorias : <%= @categories.count %></p>
</div>