<div id='book'>
    <%= link_to image_tag("home.png", :size => "22x22"), root_path, :class => 'brand' %>
</div>

<% if  can? :manage, :admin %>
    <li  id='admin'><%= link_to 'Admin', :admin, :class=>'colc', :remote => true  %></li>
<% end %>       

<% if can? :manage, [:entrances, :inputs] %>
	<li  id='invent'><%= link_to 'Inventario', :inventory, :class=>'colc', :remote => true  %></li>
<% end %>	

<% if can? :manage, Client %>
  <li  id='client'><%= link_to 'Clientes', :clients, :class=>'colc' %></li>
<% end %>

<% if can? :manage, ProductionOrder %>
  <li id='orden'><%= link_to 'O. Producc', :production_orders, :class=>'colc' %></li>
<% end %> 

<% if can? :manage, Input %>
  <li id='materiales'><%= link_to 'Materiales/Insumos', :inputs, :class=>'colc' %></li>
<% end %>

<% if can? :manage, Garment %>
  <li id='prendas'><%= link_to 'Prendas', :garments, :class=>'colc' %></li>
<% end %>

<% if can? :manage, ProductionOrder %>
<li id='produc'><%= link_to 'Estadisticas', :statistics, :class=>'colc', :remote => true %></li>
<% end %>

<li  id='almacen'><%= link_to 'Ayuda', :help, :class=>'colc', :remote => true  %></li>